{% extends 'base.html' %}
{% load i18n %}

{% block site-title %}
<a href="/"><img id="cdot-logo" src="{{ config.static_url }}css/images/cdot-logo.png"><img class="site-icon" src="{{ config.static_url }}css/images/site-icon.png"><span class="site-name">{{ config.app.name }}</span></a>
{% endblock %}

{% block meta %}
  {% if place %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ place.properties.name }}">
    <meta name="twitter:description" content="{{ place.properties.description }}">
    {% with attachment=place.properties.attachments|first %}
    <meta name="twitter:image:src" content="{{ attachment.file }}">
    {% endwith %}
    {% comment %} TODO: Fill this in when we know if the username is from twitter
      <meta name="twitter:creator" content="place.submitter.username">
    {% endcomment %}

    <!-- Facebook -->
    <meta property="og:site_name" content="{{ config.app.title }}" />
    <meta property="og:title" content="{{ place.properties.name }}" />
    <meta property="og:description" content="{{ place.properties.description }}" />
    {% with attachment=place.properties.attachments|first %}
    <meta name="og:image" content="{{ attachment.file }}">
    {% endwith %}
  {% else %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ config.app.title }}">
    <meta name="twitter:description" content="{{ config.app.meta_description }}">

    <!-- Facebook -->
    <meta property="og:site_name" content="{{ config.app.title }}" />
    <meta property="og:title" content="{{ config.app.title }}" />
    <meta property="og:description" content="{{ config.app.meta_description }}" />
  {% endif%}
{% endblock %}

<!--
  This will place content at the top of the side bar
 -->
{% block sidebar %}
<div class="site-legend">
  <img src="{{ config.static_url }}css/images/site-legend.png">
</div>
{% endblock %}

<!--
  This will place content in the colophon below the map
 -->
{% block colophon %}
<p id="powered-by">{% blocktrans %}Powered by{% endblocktrans %} <a href="http://shareabouts.org/" class="shareabouts-logo" target="_blank">Shareabouts</a>, <span class="nobreak">a project of <a href="http://openplans.org/" class="openplans-logo" target="_blank">OpenPlans</a>.</span></p>
{% endblock %}

<!--
  Analytics, custom JS, and such go here
 -->
{% block includes %}
<script>
var mapQuest_geocode = Shareabouts.Util.MapQuest.geocode;
Shareabouts.Util.MapQuest.geocode = function(location, bounds, options) {
  // Since this is all Chicago-specific, go ahead and specify the city.
  if (location.toLowerCase().indexOf('chicago') === -1) {
    location += ', Chicago IL'
  }
  return mapQuest_geocode.call(this, location, bounds, options);
}

var placeFormView_setLocation = Shareabouts.PlaceFormView.prototype.setLocation;
Shareabouts.PlaceFormView.prototype.setLocation = function(locationData) {
  placeFormView_setLocation.call(this, locationData);

  var $placeNameField = this.$('[name="user_token"]'),
      $approxAddress = $placeNameField.next();

  if ($approxAddress.length === 0) {
    $approxAddress = $('<p class="approx-address"></p>').insertAfter($placeNameField);
  }

  $approxAddress.html('<span class="address-label">Approximate location:</span> ' + Handlebars.templates['location-string'](locationData));
}

// ========================================
// Custom helpers

Handlebars.registerHelper('isAbandonedBike', function(options) {
  return (
    this.location_type === 'abandonedbike' ||
    this.location_type === 'abandonedbikeresolved') ? options.fn(this) : options.inverse(this);
});

Handlebars.registerHelper('isBikeParkingRequest', function(options) {
  return (
    this.location_type === 'bikeparking' ||
    this.location_type === 'bikeparkingrejected' ||
    this.location_type === 'bikeparkingapproved') ? options.fn(this) : options.inverse(this);
});

</script>
{% endblock %}
